<!-- Welcome section starts -->
<section class="kasai_collection">
  <div class="container">
    <div class="kasai-collection-heading">
      <center><h2><b>{{ section.settings.kasai_collection_heading }}</b></h2>
         <p>{{ section.settings.paragraph }}</p>
      </center>
     
    </div>
    <div class="kasai-collection-outer">
      <div class="kasai_collection_slider">
        {% for product in collections.all.products limit: 4 %}
          <div class="kasai_collection_slide">
            <img src="{{ product.featured_image.src | img_url: 'medium' }}" alt="{{ product.title }}">
               
            <h4><b>{{ product.title }}</b></h4>
            <p>{{ product.description }}</p> 
            <p>{{ product.price | money }}</p>
            <form action="/cart/add" method="post" class="add-to-cart-form">
    <input type="hidden" name="id" value="{{ product.variants.first.id }}">
    <div class="add-to-cart-container">
      <input type="submit" value="Shop Now" class="add-to-cart-button">
    </div>
  </form>
          </div>
         
        {% endfor %}
      </div>
      
    </div>
  </div>
</section>
<!-- Welcome section ends -->

{% schema %}
{
  "name": "Kasai Collection Section",
  "settings": [
    {
      "type": "text",
      "id": "kasai_collection_heading",
      "label": "Heading",
      "default": "Featured Products" // Default heading value
    },
    {
      "type": "textarea",
      "id": "paragraph",
      "label": "Paragraph"
    }
  ],
  "presets": [
    {
      "name": "Kasai Collection Section",
      "category": "ADVANCED LAYOUT"
    }
  ]
}
{% endschema %}

{% stylesheet %}
.product-slider {
  /* Your product slider section styles */
}

.kasai-outer {
  /* Slider outer container styles */
}

.kasai_collection_slider {
  display: flex;
  margin-left:200px;
}

.kasai_slide {
  /* Individual slide styles */
}

.view-all-button {
  text-align: center;
  margin-top: 20px;
}

#view-all-btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.hidden {
  display: none; /* Hide products */
}

{% endstylesheet %}

{% javascript %}

{% endjavascript %}
